* { box-sizing: border-box; }

body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; width:100%; overflow-x: hidden; background-color: #FFF; height: auto; font-size:16px; line-height: 1.5678; }

/* Typography */
h1 { margin:0; padding:0; }
h2 { margin:0; padding:0; }
h3 { margin:0; padding:0; }
h4 { margin:0; padding:0; }
h5 { margin:0; padding:0; }
h6 { margin:0; padding:0; }

/* helpers */
.relative { position: relative; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

#main-wrapper { overflow: hidden; padding: 60px 0 0; }

/* style for car cards */
.container { max-width: 1440px; width: 100%; margin: 0 auto; padding: 0px 15px; }
.car-list-wrapper { margin-right: -15px; margin-left: -15px; padding-top: 40px; }
.car-list-wrapper:before, .car-list-wrapper:after { display: block; content: ""; clear: both; }
.car-list-wrapper .car-list-item:first-child { border-bottom: 1px solid #000; border-right: 1px solid #000; padding-top: 0; }
.car-list-wrapper .car-list-item:nth-child(2) { border-bottom: 1px solid #000; border-right: 1px solid #000; padding-top: 0; }
.car-list-wrapper .car-list-item:nth-child(3) { border-bottom: 1px solid #000; padding-top: 0; }
.car-list-wrapper .car-list-item:nth-child(4) { border-right: 1px solid #000; padding-bottom: 0; }
.car-list-wrapper .car-list-item:nth-child(5) { border-right: 1px solid #000; padding-bottom: 0; }
.car-list-item-wrapper { position: relative; width: 90%; }
.car-list-wrapper .car-list-item:nth-child(1) .car-list-item-wrapper { margin: 0 auto 30px 0; }
.car-list-wrapper .car-list-item:nth-child(2) .car-list-item-wrapper { margin: 0 auto 30px; }
.car-list-wrapper .car-list-item:nth-child(3) .car-list-item-wrapper { margin: 0 0 30px auto; }
.car-list-wrapper .car-list-item:nth-child(4) .car-list-item-wrapper { margin: 30px auto 0px 0; }
.car-list-wrapper .car-list-item:nth-child(5) .car-list-item-wrapper { margin: 30px auto 0px; }
.car-list-wrapper .car-list-item:nth-child(6) .car-list-item-wrapper { margin: 30px 0 0px auto; }
.car-list-wrapper label { position: absolute; top: 10px; left: 10px; cursor: pointer; display: block; width:15px; height: 15px; z-index: 50; }
.car-list-wrapper label input { position: absolute; opacity: 0; left: -100px; }
.car-list-wrapper label input + span { height: 15px; width: 15px; background-color: #f5f5f5; border-radius: 1px; border: 1px solid #1995f5; opacity: 1; position: absolute; top: 0; left: 0; transition: all 0.4s ease;}
.car-list-wrapper label input + span:after { content: ""; display: block; width: 9px; height: 4px; background-color: transparent; border-top: 0; border-bottom: 2px solid #fff; border-left: 2px solid #fff; border-right: 0; transform: rotate(-45deg); position: absolute; top: 3px; left: 1px; transition: all 0.3s ease 0s; opacity: 0; }
.car-list-wrapper label input[type=checkbox]:checked + span { background-color: #1995f5; }
.car-list-wrapper label input[type=checkbox]:checked + span:after { opacity: 1; }
.car-list-item { padding: 15px; width: 33.3333%; float: left; position: relative; }
.car-list-item:before, .car-list-item:after { display: block; content: ""; clear: both; }
.car-list-item-container { height: 200px; display: block; margin: 0 auto; border: 2px solid #000; padding-top: 15px; border-radius: 10px; cursor: pointer; }
.car-list-item img { max-width: 100%; height: 70%; display: block; margin: 0 auto 20px; }
.car-list-item p { text-align: center; margin: 0; padding: 0; }

/* creat backface for car card */
.car-list-item-backface { position: absolute; top: 0; width: 100%; height: 100%; border-radius: 10px; border: 2px solid #000; padding-top: 15px;  margin: 0 auto; opacity: 0; z-index:10; background-color: rgba(0, 0, 0, 0.7); transition: opacity 0.4s ease; }
.selectedCar .car-list-item-backface { opacity: 1; }
.car-list-item-backface img { position: relative; z-index: -1; }
.car-information { position: absolute; top: 50%; left: 5%; width: 90%; transform: translate(0, -50%); }
.car-information p { text-align: center; margin: 0 0 15px; color: #fff; }
.car-information p:last-of-type { margin:0; }

/* road element */
.raod-outer-wrapper { width: 100%; padding: 80px 0 110px; position: relative; }
.raod-element-wrapper { overflow: hidden; border: 2px solid #000; border-radius: 5px; width: 100%; }
.raod-element { position: relative; width: 100%; height: 60px; }
.raod-element:after { display: block; content: ""; clear: both; }
.raod-element:first-of-type { border-bottom: 2px solid #000; }
.raod-element:nth-of-type(2) { border-bottom: 2px solid #000; }
.raod-element-segment { width: 10%; height: 100%; padding: 5px; float: left; border-right: 2px solid #000; }
.raod-element-segment:last-of-type { border-right: 0; }
.raod-distance-marking-container { position: absolute; top: 0; left: 5%; width: 90%; height: 80px; }
.raod-distance-marking-container:after { display: block; content: ""; clear: both; }
.raod-distance-marking { width: 11.1111%; float: left; height: 100%; text-align: center; padding-top: 40px; }
.raod-distance-marking span { font-size: 20px; }
/* road sign */
.road-sign-wrapper { position: absolute; height: 75%; top: 70px; transform: translate(-50%, 0); }
.road-sign-position-marker { margin: 0 auto; height: 75%; border-width:1px; border-style:dashed; width: 0; }
.road-sign-speed-limit-wrapper { display: block; clear: both; width:60px; height: 60px; border-radius: 50%; border: 6px solid #ff0000; padding: 12px; text-align: center; font-weight: bold; }
.trafic-light-wrapper { position: absolute; height: 80%; top: 70px; transform: translate(-50%, 0); }
.trafic-light-position-marker { margin: 0 auto; height: 70%; border-width:1px; border-style:dashed; width: 0; }
.trafic-light-element-wrapper { display: block; clear: both; border: 1px solid #000; padding: 7px 7px 0; overflow: hidden; border-radius: 4px; }
.red-light, .green-light { display: block; clear: both; width: 26px; height: 26px; border-radius: 50%; background-color: transparent; border: 1px solid #000; margin-bottom: 7px; }
.red-light.active { background-color: #ff0000; }
.green-light.active { background-color: green; }
/* car icon on the road */
.car-icon-wrapper { position: absolute; top:5px; bottom:5px; left: 5px; width: 50px; z-index: 5; border: 1px solid #000; border-radius: 5px; }
.car-icon-wrapper img { max-width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
    
/* animation speed elements */ 
.animation-start-wrapper { display: block; width: 100%; padding-bottom: 30px; }
.animation-start-wrapper:after { display: block; content: ""; clear: both; }   
#animationSpeed { float: right; max-width: 240px; width: 100%; border: 1px solid #000; border-radius: 5px; padding: 5px 7px; font-size:16px; background-color: #fff; color: #000; margin-right: 15px; }
#animationStart { float: right; max-width: 180px; width: 100%; border: 1px solid #000; border-radius: 5px; padding: 5px 7px; font-size:16px; background-color: #fff; color: #000; cursor: pointer; }
#animationStart:disabled { background-color:#ccc; cursor: auto; }

/* style for search input and button */
form { display: block; margin: 0; padding: 0; overflow: hidden; border-radius: 5px; position: relative; }
form:after { display: block; content: ""; clear: both; }
#search-field { border: 2px solid #000; width: 100%; padding: 3px 60px 3px 3px; font-size: 16px; }
#search-btn { position: absolute; top: 2px; right: 2px; display: inline-block; padding: 3px 20px; background-color: #ccc; border: 0; z-index: 4; cursor: pointer; border-left: 2px solid #000; }
#search-btn img { display: block; margin: 0 auto; height: 21px; }



